@import "palette";

body {
	font-family: "Mate", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: @color-text;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
}

.center {
	text-align: center;
}

.row + .row {
	margin-top: 20px;

	/* Larger than Desktop HD */
	@media (min-width: 1200px) {
		margin-top: 40px;
	}
}

.button {
	width: 100%;
}

.brand-container {
	/* Larger than tablet */
	@media (min-width: 750px) {
		margin-top: 20px;
	}

	/* Larger than Desktop HD */
	@media (min-width: 1200px) {
		margin-top: 20px;
	}
}

.brand-image {
	width: 250px;
	max-width: 100%;
	height: auto;
	fill: @color-text;
}

.brand-text {
	color: @color-text;
    text-transform: uppercase;
    margin-bottom: 0;

    /* Larger than phablet */
	@media (min-width: 550px) {
	    margin-left: -40px;
	    display: inline-block;
	}
}

.design-image {
	max-width: 100%;
	width: 450px;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.social {
	a, a:hover {
		color: @color-sidebar-text;
	}

	.fa {
		font-size: 5rem;
	}
}

.sidebar {
	padding: 20px;
	background-color: @color-sidebar;
	color: @color-sidebar-text;
}
