.sidebar, .sidebar-header {
	font-family: @font-sidebar;
}

.sidebar {
	a, a:hover {
		color: @color-sidebar-link;
	}

	padding: 20px 40px;
	background-color: @color-sidebar;
	color: @color-sidebar-text;
}
