<div class="row">
	<div class="eight columns center offset-by-two">
		<p>350partspermillion, or 350ppm, tries to face the future for what it is. The name itself is a commonly
		agreed safe upper limit of atmospheric carbon dioxide. We're above it. The future is looking quite bad.
		What do we do? In short, a complete restructuring of the global economy.</p>

		<p>I'm making some shirts in the meantime. The clothing isn't the solution. I am, and you are. With each
		design I'd like to symbolize a radical shift in human-planetary behavior. Something that has happened, is
		now happening, or will happen. Please humor me with an open ear, and take a deep look at your world.</p>
	</div>
</div>
