<div class="row brand-container">
    <div class="twelve columns center">
        <a href="/index"><img class="brand-image" src="/images/350vectorlogo.svg"><h1 class="brand-text">ppm</h1></a>
    </div>
</div>

<div class="row links">
    <div class="three columns center">
        <a class="button" href="/about">About</a>
    </div>
    <div class="three columns center">
        <a class="button" href="/designs">Designs</a>
    </div>
    <div class="three columns center">
        <a class="button" href="https://medium.com/@350ppm">Blog</a>
    </div>
    <div class="three columns center">
        <a class="button" href="http://shop.350ppm.co/">Shop</a>
    </div>
</div>
