{% include brand-image.html %}

<div class="row links">
    <div class="three columns center">
        <a class="button" href="/about">About</a>
    </div>
    <div class="three columns center">
        <a class="button" href="/designs">Designs</a>
    </div>
    <div class="three columns center">
        <a class="button" href="https://medium.com/@350ppm">Blog</a>
    </div>
    <div class="three columns center">
        <a class="button" href="http://shop.350ppm.co/">Shop</a>
    </div>
</div>
