<div class="row brand-container">
    <div class="twelve columns center">
        <a href="/index.html"><img class="brand-image" src="/images/350vectorlogo.png"><h1 class="brand-text">ppm</h1></a>
    </div>
</div>

<div class="row links">
    <div class="two_up tiles">
        <a class="button" href="/about.html">About</a>
    </div>
    <div class="two_up tiles">
        <a class="button" href="/designs.html">Designs</a>
    </div>
    <div class="two_up tiles">
        <a class="button" href="https://medium.com/@350ppm">Blog</a>
    </div>
    <div class="two_up tiles">
        <a class="button" href="http://shop.350ppm.co/">Shop</a>
    </div>
</div>
