<div class="row social">
    <div class="four columns offset-by-four">
      <div class="u-flex u-space-between">
        <a href="https://www.instagram.com/350partspermillion/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="http://350ppm.tumblr.com/"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/350partspermillion/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://medium.com/@350ppm""><i class="fa fa-medium" aria-hidden="true"></i></a>
      </div>
    </div>
</div>
