---
layout: default
---
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <p>
                <a href="/">&lsaquo; Back</a>
            </p>
        </div>
    </div>
    <h2>{{ page.title }}</h2>

    <div class="row">
        <div class="four columns">
          <img class="design-image" src="{{ page.img }}"></img>
        </div>
        <div class="eight columns">
            {{ content }}

            {% for link_hash in page.links %}
                {% for link in link_hash %}
                    <p>
                        <a class="shop-button u-no-decoration u-full-width-mobile" href="{{ link[1] }}">{{ link[0] }}</a>
                    </p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
